.header-area { grid-area: header; }
.left-area { grid-area: menu; }
.main-area { grid-area: main; }
.right-area { grid-area: right; }
.footer-area { grid-area: footer; }

.grid-container {
    display: grid;
    grid-template-areas:
      'header header header header header'
      'menu main main main right'
      'footer footer footer footer footer';
    grid-gap: 5px;
    padding: 10px;
}

.controls {
    text-align: left;
}

.capture {
    text-align: center;
}

.video-frame {
    position: relative; 
    width: 640px; 
    height: 480px;
    margin: auto;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    /* background-color:rgb(255,0,0,0.2); */
}

#video {
    position: absolute;
    top: 0;
    left: 0;
}

.button {
    background-color: rgb(20, 25, 102);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
